<section id="contact-section">
	<div class="container">
		<div class="col-md-8">
			<br>
			<h2 style="color: green;"><strong>ESTRELLAS TOKIO F.C</strong></h2>
			<p class="lead">
				<br>
				<br>
				Para recibir más información:
				<br>
				<span class="glyphicon glyphicon-earphone"></span> Teléfonos: (+57) 321 871 9224 - (+57) 321 875 9899
				<br>
				<span class="glyphicon glyphicon-envelope"></span> Correo electrónico: estrellastokio@gmail.com
				<br>
				<br>

			</p>
		</div>
		<div id="div-img-develop" class="col-md-4 text-center">
			<a href="http://www.github.com/anderson1096"><img class="img-circle img-thumbnail" src="<%= asset_path 'anderson-foto.jpg'%>" alt=""></a>
			<br>
			<p class="text-center small lead"> Desarrollador </p>
		</div>		
	</div>
</section>