$color-background: #e6ffe6;
#login-section{
	font-size: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}
#links a{
	color: green;
  font-size: 20px;
}
#links2 a{
  color: green;
  font-size: 20px;
}
#links3 a{
  color: green;
  font-size: 20px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin #inputEmail {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin #inputEmail:hover{
	border-color: green;
}
.form-signin #inputEmail:focus{
	border-color: green;
}
.form-signin #inputPassword:hover{
	border-color: green;
}
.form-signin #inputPassword:focus{
	border-color: green;
}
.form-signin #inputPassword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#label-remember{
	font-size: 15px;
}
.form-registration #inputEmail:hover{
  border-color: green;
}
.form-registration #inputEmail:focus{
  border-color: green;
}
.form-registration #inputPassword:hover{
  border-color: green;
}
.form-registration #inputPassword:focus{
  border-color: green;
}
.form-registration #inputPassword2:hover{
  border-color: green;
}
.form-registration #inputPassword2:focus{
  border-color: green;
}