<section id="about-section">
	<section id="about-header" class="container-fluid">
		<img src="<%= asset_path 'about-banner.jpg'%>" alt="">
	</section>
	<div id="about" class="container">
		<div class="container col-md-12">
			<div class="col-md-6">
				<br>
				<p class="text-justify" style="font-size: 25px;">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos soluta voluptatibus accusamus veniam, natus tempore libero eligendi suscipit illo quod commodi alias nesciunt nostrum eaque, ipsam officia doloremque blanditiis! Magnam.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet fuga nostrum voluptatum officia distinctio itaque et, iure tenetur labore laudantium quisquam nulla ipsam, hic dignissimos excepturi fugiat saepe veniam quo.
				</p>
			</div>
			<div class="col-md-6">
				<img id="img-about" class="pull-left" src="<%= asset_path 'logo-equipo.png' %>" alt="">
			</div>
		</div>
	</div>
</section>