<section id="vision-section">
	<section id="vision-header" class="container-fluid">
		<img src="<%= asset_path 'vision-banner.jpg'%>" alt="">
	</section>
	<div id="vision" class="container">
		<div class="col-md-12">
			<div class="col-md-7">
				<p class="text-justify" style="font-size: 25px; padding-top: 40px;">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nostrum molestias, explicabo architecto. Et officiis odit quo quia, alias saepe cumque dignissimos laudantium rerum, incidunt veniam assumenda blanditiis adipisci dolores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut minima eos eaque quae harum cum sapiente pariatur, atque, consectetur explicabo porro odit. Sint, accusamus, consectetur! Vel doloremque dicta, temporibus atque!
				</p>
			</div>
			<div class="col-md-5">
				<img id="img-vision" src="<%= asset_path 'champion.png'%>" alt="">
			</div>
		</div>
	</div>
</section>